{% extends "base.html" %}

{% block title %}Select Activity{% endblock %}

{% block body %}
<h1>Select an Activity</h1>
<p>Choose an activity to add to your course:</p>

{% for activity in activities %}
<form method="post" action="/deep-link/respond" style="display: inline-block; margin: 0.5em;">
    <input type="hidden" name="activity_type" value="{{ activity }}">
    <input type="hidden" name="client_id" value="{{ client_id }}">
    <input type="hidden" name="deployment_id" value="{{ deployment_id }}">
    <input type="hidden" name="return_url" value="{{ return_url }}">
    <button type="submit" class="btn">{{ activity }}</button>
</form>
{% endfor %}
{% endblock %}
